<div class="container">
        <img src="/img/journal.png">

    <div class="columns">
        <div id="saved-journal" class="box">
                {{#each details}}
                
            <p>coffee name: {{coffee_name}}</p>
            <p>coffee bean: {{coffee_bean}}</p>
            <p>producer: {{producer}}</p>
            <p>brew method: {{brew_method}}</p>
            <p>taste: {{taste}}</p>
            <p>rating: {{rate}}</p>
            <p>price: {{price}}</p>
            <p>location: {{location}}</p>
            <p>notes: {{notes}}</p>
                {{/each}}
        </div>
    </div>
</div>